.wrapper-tugas10 {
  position: relative;
  padding: 30px 30px 30px 55px;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.table-tugas10 {
  border: 1px solid black;
  width: 100%;
}

.table-tugas10 th {
  background-color: #aaaaaa;
}
.table-tugas10 td {
  background-color: #ff8051;
}
